<header class="header">
    <div class="header__inner">
        <div class="header__logo">
            Joss Barbershop
        </div>

        <nav class="header__nav">
            <a routerLink="" (click)="scrollToSection('hero')" class="header__link">Inicio</a>
            <a routerLink="" (click)="scrollToSection('barberos')" class="header__link">Barberos</a>
            <a routerLink="" (click)="scrollToSection('contacto')" class="header__link">Contacto</a>
        </nav>


        <button routerLink="/services" class="header__btn">
            Reservar Ahora
        </button>
    </div>
</header>