<section class="choose-service booking__section">
    <h2 class="choose-service__title">Escoge tu servicio</h2>
  
    <div class="choose-service__options">
  
      <div class="service-card" *ngFor="let service of availableServices; let i = index">
        <input
          type="checkbox"
          [id]="'service-' + service.id"
          class="service-card__checkbox"
          [(ngModel)]="service.isSelected"
          (ngModelChange)="onServiceSelectionChange()"
          [name]="'service-' + service.id" />
  
        <label [for]="'service-' + service.id" class="service-card__label">
          <img [src]="service.iconUrl" [alt]="service.name" class="service-card__icon" />
  
          <div class="service-card__info">
            <p class="service-card__name">{{ service.name }}</p>
            <p class="service-card__details">
              <img src="assets/icons/clock.svg" alt="Icono de duración" class="service-card__detail-icon service-card__duration-icon" />
              <span class="service-card__duration">{{ service.duration }}</span>
            </p>
            <p class="service-card__price">{{ service.price | currency:'MXN':'symbol':'1.2-2' }}</p>
          </div>
        </label>
      </div>
  
    </div> </section>