<section class="contact-section">
    <div class="contact-section__container">
        <!-- Contacto -->
        <div class="contact-item">
            <h3 class="contact-item__title">Contacto</h3>
            <ul class="contact-item__list">
                <li>
                    <img src="assets/icons/phone.svg" alt="Teléfono" class="contact-item__icon">
                    +34 912 345 678
                </li>
                <li>
                    <img src="assets/icons/email.svg" alt="Email" class="contact-item__icon">
                    "info&#64;barberstyle.com"
                </li>
                <li>
                    <img src="assets/icons/location.svg" alt="Dirección" class="contact-item__icon">
                    Calle Principal 123, Madrid
                </li>
            </ul>
        </div>
        <!-- Horario -->
        <div class="contact-item">
            <h3 class="contact-item__title">Horario</h3>
            <ul class="contact-item__list">
                <li>Lunes - Viernes: 09:00 - 20:00</li>
                <li>Sábado: 09:00 - 18:00</li>
                <li>Domingo: Cerrado</li>
            </ul>
        </div>
        <!-- Síguenos -->
        <div class="contact-item">
            <h3 class="contact-item__title">Síguenos</h3>
            <div class="contact-item__social">
                <a href="#" aria-label="Instagram">
                    <img src="assets/icons/instagram.svg" alt="Instagram">
                </a>
                <a href="#" aria-label="Facebook">
                    <img src="assets/icons/facebook.svg" alt="Facebook">
                </a>
                <a href="#" aria-label="Twitter">
                    <img src="assets/icons/twitter.svg" alt="Twitter">
                </a>
            </div>
        </div>
    </div>
</section>